<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head"); %>
    </head>    
<body>
    <script onload="showRoster(6);" src="../script.js"></script>

    <div class="jumbotron text-center" style="margin-bottom:0; padding-top: 7px; padding-bottom: 7px; background-color: orange;">
        <img src="./images/bruins.jpg" width="275" height="170">
      </div>
     

    <header>
        <%- include("../partials/header"); %>
    </header> 

    
    <div id="roster-container"></div>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>

</body>
</html> 