<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head"); %>
    </head> 
<body>
    <script onload="showRoster(22);" src="../script.js"></script>

    <div class="jumbotron text-center" style="margin-bottom:0; padding-top: 7px; padding-bottom: 7px; background-color: rgb(238, 133, 13);">
        <img src="./images/oilers.jpg" width="275" height="170">
      </div>

    <header>
        <%- include("../partials/header"); %>
    </header>

    <div id="roster-container"></div>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>

</body>
</html> 